.container__login {
  max-width: 100vw;
  min-height: 100vh;
  padding: 40px 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background: linear-gradient(
      rgba(102, 105, 197, 1) 0%,
      rgba(43, 5, 72, 0.9) 100%
    ),
    url("../../assets/background-login.jpg");
  background-size: cover;
}

.login__logo {
  width: 160px;
}
