@import url("../../styles/global.css");

.container__register {
  width: 100vw;
  height: 100vh;
  padding: 4rem 18rem;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
      rgba(102, 105, 197, 1) 0%,
      rgba(43, 5, 72, 0.9) 100%
    ),
    url("../../assets/background-login.jpg");
  background-size: cover;
}

.register__main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik", sans-serif;
}

.register__card {
  width: 46rem;
  padding: 4rem 4rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.register__title {
  font-weight: 500;
  font-size: 28px;
  color: var(--violet-500);
  margin-bottom: 2rem;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.form__box-field {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
}

.form__label {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--violet-800);
}

.form__input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.4rem;
  border: solid 0.1rem var(--violet-500);
  color: var(--violet-800);
}

.form__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--violet-500);
}

.form__input::placeholder {
  font-size: 1.4rem;
  font-weight: 300;
}
.box__password {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form__btn {
  all: unset;
  width: 100%;
  box-sizing: border-box;
  padding: 1.6rem 10rem;
  border-radius: 0.4rem;
  text-align: center;
  background-color: var(--violet-700);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
  margin-top: 1rem;
}

.form__btn:active {
  transform: scale(0.98);
}

.form__btn:hover {
  background-color: var(--violet-800);
}

.register__redirect-login {
  margin-top: 2rem;
  color: var(--violet-700);
}

.redirect__link {
  color: var(--violet-800);
  text-decoration: none;
  font-weight: 500;
}

.redirect__link:hover {
  text-decoration: underline;
}
