@import url("../../../styles/global.css");

.toast__container {
  background-color: var(--bg-light-50);
  padding: 2rem 4rem;
  border-radius: 1rem;
  position: fixed;
  bottom: 10px;
  right: 4rem;
  animation: showToast 0.5s forwards;
  font-family: "Rubik", sans-serif;

  border: 1px solid var(--border-light-300);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.toast__close {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.toast__close:hover {
  transform: scale(1.1);
  color: var(--violet-700);
}

.toast__close:active {
  transform: scale(0.95);
}

.toast__title {
  font-weight: 500;
}

.toast__progress-bar {
  height: 5px;
  background-color: #334155;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 0 1rem 1rem;
}

@keyframes showToast {
  from {
    transform: translateY(100%);
    bottom: 0;
  }
  to {
    transform: translateY(0);
    bottom: 10px;
  }
}
