.toasts-container {
  display: flex;
  flex-direction: column-reverse;
  row-gap: 12px;
  z-index: 9999;
  position: fixed;
  bottom: 16px;
  right: 16px;
  font-family: "Rubik";
}

.toast {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--bg-color);
  box-shadow: 0px 4px 6px (--drop-shadow-color);
  border-radius: 8px;
  padding: 18px;
  position: relative;
  width: 320px;
  overflow: hidden;
}

.toast-message {
  color: var(--font-color);
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
}

.dismiss-btn {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  background: none;
  margin-left: auto;
}

.success-icon {
  color: var(--success);
}

.info-icon {
  color: var(--info);
}

.warning-icon {
  color: var(--warning);
}

.error-icon {
  color: var(--error);
}
