@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=M+PLUS+Rounded+1c:wght@300;700&family=Rubik:wght@300;400;500;700&display=swap");
body {
  --violet-100: #ede9fe;
  --violet-300: #c4b5fd;
  --violet-500: #8b5cf6;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --purple-950: #3b0764;
}
