@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=M+PLUS+Rounded+1c:wght@300;700&family=Rubik:wght@300;400;500;700&display=swap");
:root {
  --body-background: #f8fafc;
  --body-color: #334155;
  --link-color: navy;
  --header-color: #09090b;

  --primary-color: #6d28d9;
  --secondary-color: #8b5cf6;
  --font-color: #334155;
  --secondary-font-color: #f1f5f9;
  --bg-color: #e2e8f0;
  --bg-hover: #e2e8f0;
  --bg-input: #f1f5f9;

  --heading-color: #1e293b;
  
  --input-border: #cbd5e1;
  --drop-shadow-color: rgba(0, 0, 0, 0.3); 
  
}

[data-theme="dark"] {
  --body-background: #09090b;
--body-color: #f1f5f9;
--link-color: cyan;
--header-color: #f8fafc;

--primary-color: #6d28d9;
--secondary-color: #8b5cf6;
--font-color: #cbd5e1;
--bg-color: #18181b;
--bg-hover: #27272a;
--bg-input: #27272a;

--heading-color: #f1f5f9;
--input-border: #3f3f46;

--drop-shadow-color: rgba(63, 63, 70, 0.3);


}

* {
  transition: background-color 0.2s ease-in-out
}

body {



  --violet-100: #ede9fe;
  --violet-300: #c4b5fd;
  --violet-500: #8b5cf6;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --purple-950: #3b0764;

  --disabled: #94a3b8;

--bg-light-50: #f9fafb;
--bg-light-100: #f1f5f9;

--border-light-300: #cbd5e1;

--slate-700: #334155;


  --shadow-: box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}


