.summary__main {
  font-family: "Rubik", sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space;
  width: 28rem;
  height: 25rem;
  background-color: var(--violet-100);
  padding: 2.6rem 3.4rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 6rem;
  right: 0;
}

.summary__title {
  font-weight: 700;
  font-size: 2rem;
  color: #4d4d4d;
}

.summary__section {
  display: flex;
  justify-content: space-between;
}

.financial__summary {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2rem;
  font-family: "Rubik", sans-serif;
}

.financial__summary-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
  padding: 1rem 0.6rem ;
  border-radius: 0.8rem;
  background-color: var(--violet-100);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.financial__summary-title {
  color: #737373;
  font-size: 1.4rem;
  font-weight: 400;
}

.revenue-value {
  color: var(--violet-500);
  font-weight: 500;
  font-size: 1.6rem;
}

.expense-value {
  color: #fa8c10;
  font-weight: 500;
  font-size: 1.6rem;
}

.balance-value {
  color: #4ade80;
  font-weight: 500;
  font-size: 1.6rem;
}

.financial__summary-btn-revenue {
  all: unset;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  background-color: var(--violet-700);
  color: #fff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.financial__summary-btn-expense {
  all: unset;
  padding: 1.2rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #fa8c10;
  color: #fff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.financial__summary-btn-revenue:hover {
  opacity: 0.9;
}