@import url("../../../styles/global.css");

.delete-register__container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 12rem;
  height: 5.4rem;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  background-color: var(--bg-color);

  position: absolute;
  right: 6rem;
  top: 2rem;
  z-index: 100;

  font-family: "Rubik", sans-serif;
  border: 1px solid var(--input-border);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.delete-register__title {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
  color: var(--font-color);
}

.delete-register__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.delete-register__buttons-btn {
  all: unset;
  box-sizing: border-box;
  border-radius: 0.4rem;
  padding: 0.2rem 1rem;
  color: var(--btn-color);
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.delete-register__buttons-btn:hover {
  opacity: 0.8;
}

.delete-register__buttons-yes {
  background-color: var(--secondary-color);
}

.delete-register__buttons-not {
  background-color: #fa8c13;
}

.delete-register-indicate {
  position: relative;
}

.caret-down-indicate {
  color: var(--bg-color);
  position: absolute;
  z-index: 1;
  top: -1.1rem;
  right: 1.8rem;
  filter: drop-shadow(0px -5px 3px var(--drop-shadow-color));
}
