@import url("../../styles/global.css");
.header {
  width: 100%;
  height: 10rem;
  padding: 4rem 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(196, 181, 253);
  background: linear-gradient(
    117deg,
    rgba(196, 181, 253, 1) 0%,
    rgba(109, 40, 217, 1) 100%
  );
  font-family: "Rubik", sans-serif;
}

.header__logo {
  width: 16rem;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.3));
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.header__profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__nav-icon {
  all: unset;
  color: var(--violet-300);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.header__nav-username {
  font-size: 1.6rem;
  color: #fff;
}

.header__nav-icon:hover {
  transform: scale(1.1);
}

.profile {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 1px solid var(--violet-300);
  margin: 5px;
}
