@import url("../../styles/global.css");

.edit-user-modal__container {
  position: relative;
  width: 48rem;

  display: flex;
  flex-direction: column;
  padding: 3.5rem 5.6rem;
  border-radius: 1rem;
  background-color: #ffffff;

  font-family: "Runik", sans-serif;
  z-index: 10;
}

.edit-user-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.edit-user-modal__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.edit-user-modal__close:hover {
  transform: scale(1.1);
}

.edit-user-modal__close:active {
  transform: scale(0.95);
}

.edit-user-modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.edit-user-modal__section-avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.section-avatar__input {
  all: unset;
}

.section-avatar__btn {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--violet-100);
  transition: all 0.2s ease-in-out;
}

.section-avatar__btn:hover {
  background-color: var(--violet-500);
  color: #fff;
}

.section-avatar__img {
  color: var(--violet-700);
}

.edit-user-modal__form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.edit-user-modal__label {
  font-weight: 500;
  font-size: 1.5rem;
  color: #484848;
}

.edit-user-modal__input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 1.4rem;
  border: 1px solid var(--violet-500);
  border-radius: 0.6rem;
}

.edit-user-modal__input:focus {
  box-shadow: 0 0 0 0.1rem var(--violet-500);
}

.edit-user-modal__btn {
  all: unset;
  box-sizing: border-box;
  padding: 1.6rem 10rem;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--violet-700);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
}

.edit-user-modal__btn:hover {
  background-color: var(--violet-800);
}

.edit-user-modal__btn:active {
  transform: scale(0.98);
}

.edit-user-modal__back {
  all: unset;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 8rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: #000;
  background-color: var(--violet-100);
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.edit-user-modal__back:hover {
  background-color: var(--violet-500);
  color: #fff;
}

.edit-user-modal-question-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.question-password-button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  color: #000;
  background-color: var(--violet-300);
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
}

.question-password-button-label {
  color: #b8b8b8;
  font-weight: 500;
  font-size: 1.8rem;
}

.question-password-button:hover {
  background-color: var(--violet-500);
  color: #fff;
}

.testes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.teste-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.custom-file-button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  background-color: #ebebeb;
  transition: all 0.2s ease-in-out;
  border: solid 1px var(--violet-700);

  position: absolute;
  top: 65%;
  left: 55%;
}

.custom-file-button:hover {
  background-color: var(--violet-500);
  color: #fff;
}

.custom-img-preview {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: solid 2px var(--violet-700);
}
