@import url("../../styles/global.css");

.edit-user-modal__container {
  position: relative;
  width: 48rem;

  display: flex;
  flex-direction: column;
  padding: 3.5rem 5.6rem;
  border-radius: 1rem;
  background-color: var(--body-background);
  border: 2px solid var(--input-border);
  font-family: "Runik", sans-serif;
  z-index: 10;
}

.edit-user-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  color: var(--font-color);
}

.edit-user-modal__title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--heading-color);
}

.edit-user-modal__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.edit-user-modal__section-avatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.section-avatar__input {
  all: unset;
}

.section-avatar__btn {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--bg-color);
  transition: all 0.2s ease-in-out;
}

.section-avatar__btn:hover {
  background-color: var(--bg-hover);
}

.section-avatar__img {
  color: var(--primary-color);
}

.edit-user-modal__form-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-bottom: 2rem;
}

.edit-user-modal__label {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--font-color);
}

.edit-user-modal__input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 1.4rem;
  border: 1px solid var(--input-border);
  border-radius: 0.6rem;
  color: var(--font-color);
}

.edit-user-modal__input:focus {
  box-shadow: 0 0 0 0.2rem var(--violet-500);
}

.edit-user-modal__btn {
  all: unset;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--font-color);
}

.edit-user-modal__back {
  all: unset;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--font-color);
  border: 1px solid var(--input-border);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.edit-user-modal__back:hover {
  background-color: var(--bg-hover);
}

.edit-user-modal__btn:hover {
  opacity: 0.8;
}

.edit-user-modal__btn:active {
  transform: scale(0.98);
}

.edit-user-modal-question-password {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.question-password-button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  border-radius: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  color: var(--font-color);
  background-color: var(--bg-color);
  font-size: 1.6rem;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--input-border);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
}

.question-password-button-label {
  color: var(--font-color);
  font-weight: 500;
  font-size: 1.8rem;
}

.question-password-button:hover {
  opacity: 0.9;
}

.testes {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.teste-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.custom-file-button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  padding: 0.7rem;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--input-border);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);

  position: absolute;
  top: 65%;
  left: 55%;
}

.custom-img-preview {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;

  border: 2px solid var(--input-border);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}
