@import url("../../styles/global.css");

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* background: rgba(219, 222, 255, 0.48); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 998;
}

.register__container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 48rem;
  padding: 3.5rem 5.6rem;
  border-radius: 1rem;
  background-color: var(--bg-color);

  font-family: "Rubik", sans-serif;
  z-index: 999;
  border: 1px solid var(--input-border);
}

.register-modal__title {
  font-weight: 500;
  font-size: 2rem;
  color: var(--heading-color);
  margin-bottom: 3rem;
}

.register__close {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: var(--font-color);
  transition: all 0.2s ease-in-out;
}

.register__close:hover {
  color: rgb(197, 27, 18);
}

.register__types {
  margin-bottom: 2rem;
}

.types__input,
.types__output {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  color: var(--font-color);
  width: 50%;
  padding: 14px 47px;
  cursor: pointer;
}

.types__input:hover,
.types__output:hover {
  opacity: 0.9;
}

.types__input {
  background-color: var(--primary-color);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.types__output {
  background-color: var(--bg-color);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.form__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
}

.register__form-label {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--font-color);
}

.register-modal__input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.4rem;
  border: 2px solid var(--input-border);
  border-radius: 0.6rem;
  color: var(--font-color);

  font-size: 1.4rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: var(--bg-input);
}

.register-modal__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--secondary-color);
}

/* .register-modal__input-select,
.register-modal__input-date {
  background-color: var(--bg-color);
} */

.form__btn {
  width: 100%;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 2rem;
}

.form__section-content-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
