@import url("../../styles/global.css");

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(219, 222, 255, 0.48);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.register__container {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 48rem;
  height: 60rem;
  padding: 3.5rem 5.6rem;
  border-radius: 1rem;
  background-color: #ffffff;

  font-family: "Rubik", sans-serif;
  z-index: 999;
}

.register-modal__title {
  font-weight: 500;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 3rem;
}

.register__close {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;

  transition: all 0.2s ease-in-out;
}

.register__close:hover {
  transform: scale(1.1);
}

.register__close:active {
  transform: scale(0.9);
}

.register__types {
  margin-bottom: 2rem;
}

.types__input,
.types__output {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  width: 50%;
  padding: 14px 47px;
  cursor: pointer;
}

.types__input:hover,
.types__output:hover {
  opacity: 0.9;
}

.types__input {
  background-color: var(--violet-700);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.types__output {
  background-color: #484848;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.form__section {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.4rem;
}

.register__form-label {
  font-weight: 400;
  font-size: 1.5rem;
  color: #484848;
}

.register-modal__input {
  all: unset;
  box-sizing: border-box;
  width: 100%;
  padding: 1rem 1.4rem;
  border: 1px solid var(--violet-500);
  border-radius: 0.6rem;
}

.register-modal__input:focus {
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--violet-500);
}

.form__btn {
  width: 100%;
  background-color: var(--violet-500);
  border-radius: 1rem;
}
